/* SERVICES */
.services {
  background: #ffffff;
  padding: 120px 10%;
  text-align: center;
}

.section-subtitle {
  color: #7c3aed;
  font-size: 14px;
  margin-bottom: 6px;
}

.section-title {
  font-size: 36px;
  color: #6d28d9;
  margin-bottom: 60px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 30px;
}

.service-card {
  background: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 18px;
  padding: 55px 30px;
  transition: all 0.35s ease;
  cursor: pointer;
}

.service-card img {
  width: 60px;
  margin-bottom: 25px;
}

.service-card h3 {
  color: #6d28d9;
  font-size: 20px;
  margin-bottom: 10px;
}

.service-text {
  font-size: 15px;
  color: #475569;
  line-height: 1.6;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.35s ease;
}

/* hover animatsiya */
.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.12);
}

.service-card:hover .service-text {
  opacity: 1;
  transform: translateY(0);
}


